@import url('/assets/css/fonts.css');

:root{
    /* COLORS */
    --background-color-body:  hsl(47, 88%, 63%);
    --background-color-card: hsl(0, 0%, 100%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);

    /* TYPOGRAPHY */
    --font-family: 'Figtree', sans-serif;
    --text-line-height: 1.5;
    --text-letter-spacing: 0;
    --text-extra-bold:800;
    --text-medium:500;

    /* HEADINGS */
    --text-heading-lg-size: 1.5rem; /*24px*/
    --text-heading-sm-size: 1.25rem; /*20px*/

    /* BODY TEXT */
    --text-lg-size: 1rem; /*16px*/
    --text-md-size: 0.87rem; /*14px*/
    --text-sm-size: 0.75rem; /*12px*/

    /* SPACING */
    --spacing-extra-lg: 1.5rem; /*24px*/
    --spacing-lg: 0.75rem; /*12px*/
    --spacing-md: 0.5rem; /*8px*/
    --spacing-sm: 0.25rem; /*4px*/
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body{
    background: var(--background-color-body);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 100svh;
    font-family: var(--font-family);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-letter-spacing);
}

.card {
    background: var(--background-color-card);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--color-gray-950);
    max-width: 24rem;
    padding: var(--spacing-extra-lg);
    color: var(--color-gray-950);
    box-shadow: 0.56rem 0.56rem 0rem rgb(0, 0, 0);
}

.card img{
    border-radius: 10px;
    display: block;
    height: auto;
}

.card_text{
    padding: var(--spacing-extra-lg) 0;
}

.card_text h2{ 
    font-size: clamp(var(--text-heading-sm-size), 2vw, var(--text-heading-lg-size));
    font-weight: var(--text-extra-bold);
}

.card_text h2:hover{
    color: var(--background-color-body); 
    cursor: pointer;
}

.card_text p{ 
    font-size: clamp(var(--text-md-size), 2vw, var(--text-lg-size));
    padding-top: var(--spacing-lg);
    font-weight: var(--text-medium);
}

.card_text-label {
    font-size: clamp(var(--text-sm-size), 2vw, var(--text-md-size));
}

.card_text-label h4{ 
    font-weight: var(--text-extra-bold);
    padding: var(--spacing-sm) var(--spacing-lg);
    background: var(--background-color-body);
    border-radius: 4px;
    display: inline-block;
}

.card_text-label p{ 
    font-size: clamp(var(--text-sm-size), 2vw, var(--text-md-size));
    padding: var(--spacing-lg) 0;
    font-weight: var(--text-medium);
}

figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--text-md-size);
    font-weight: var(--text-extra-bold);
    gap: var(--spacing-lg);
}

figure img{
    max-width: 2rem;
}

    /*HELPERS*/

.gray-500{
    color: var(--color-gray-500);
}

.img-res{
    max-width: 100%;
}